
$color-primary-color: #F1CDB3;
$color-primary-light: #fddcc4;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$start-screen-gradient-background: url(/assets/images/noise_transparent@2x.png),
radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%,
 #262425 100%), #211F20;

$footer-gradient-background: url(/assets/images/noise_transparent@2x.png),
 radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

$card_hover: 0px 2px 35px 14px rgba(13, 13, 13, 0.04); 

@mixin h2 {
    font: {
        family: Georgia;
        size: 4.4rem;
        weight: 400;  
    }
   line-height: 130%; 
}

@mixin h3 {
    font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 3.5rem;
    }
    line-height: 130%;
    letter-spacing: 0.21rem;
}

@mixin h4 {
    font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 2rem;
    }
    line-height: 115%;
    letter-spacing: 0.12rem;
}

@mixin h5 {
    font: {
    family: Georgia;
    style: normal;
    weight: normal;
    size: 1.5rem;
    }
    line-height: 110%;
    letter-spacing: 0.09rem;
}

@mixin paragraf-l {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.5rem;
        }
        line-height: 160%;
}

@mixin paragraf-s {
    font: {
        family: Arial;
        style: italic;
        weight: normal;
        size: 1.2rem;
        }
        line-height: 150%;
}

@mixin logo_title {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 3.2rem;
        }
        line-height: 110%;
        letter-spacing: 0.192rem;
}

@mixin logo_subtitle {
    font: {
        family: Arial;
        style: normal;
        weight: normal;
        size: 1.3rem;
        }
        line-height: 110%;
        letter-spacing: 0.13em;
}

@mixin pets-card-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;     
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
   
}

@mixin slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.2rem;
    height: 5.2rem;
    box-shadow: inset 0 0 0 0.3rem solid $color-primary-color;
    border-radius: 100%;
    padding: 1.9rem;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    transition-duration: 0.5s;
    transition: all 1s ease 0s;

    &:hover {
        box-shadow: none;
        background-color: $color-primary-color;
    }
}  

@mixin button() {      
    padding: 1.5rem 4.5rem;    
    font-size: 1.7rem;
    border-radius: 10rem;
    line-height: 130%;
    letter-spacing: 0.108rem;
    cursor: pointer;
    border: none;
    outline: none;
}

@mixin button_primary() {
    background-color: $color-primary-color;
    transition: all 1s ease 0s;
    &:hover {
        background-color: $color-primary-light;
    }
    
    @include button;
}

@mixin button_secondary() {
    background-color: transparent;
    border: $color-primary-color solid 2px;
    box-shadow: inset 0 0 0 2px $color-primary-color;
    transition: all 1s ease 0s;
    &:hover {
       box-shadow: none;
     background-color: $color-primary-light;
    }
    @include button;
}

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}



.wrapper {
    display: flex;
    margin: 0 auto;
    max-width: 120rem;
    justify-content: space-between;
    flex: 1;
}

.header {
    width:100vw;
    max-width: 100%;
    position: absolute;
    top: 6rem;
}



.nav {
    display: flex;
    width: 44.3rem;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style-type: none; 
    

    
    &__linK {
        color: $color-light-xl;
        font-family: Arial;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;
        text-decoration: none;
        position: relative;
        transition: all 1s ease 0s;
    }

    &__linK:hover {
        color: $color-primary-color;
    }

    &__linK_active::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color-primary-color;
    }
    
}

.logo {
    display: flex;
    flex-direction: column;
    

    &__link {
        text-decoration: none;
    }

 &__title {
     color: $color-primary-color;
     @include logo_title();
     transition: all 1s ease 0s;
 }

 &__subtitle {
    margin-top: 1rem;
    text-align: center;
    color: $color-light-xl;  
    @include logo_subtitle();
    transition: all 1s ease 0s;
 }
}

.logo__link:hover {

    .logo__title {
        color: $color-light-xl;
    }
   
    .logo__subtitle {
       color: $color-primary-color; 
    }
}

.menu__icon {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    padding-top: 18rem;
    background: $start-screen-gradient-background;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__image-wrapper {
        display: flex;
    }
    
    &__image {
        width: 100%;
        max-width: 69.8rem;
        max-height: 72.8rem; 
    }
}
 
.content-section { 
    padding-bottom: 8rem;
    max-width: 46.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    &__title {
        max-width: 31rem;    
        color: $color-light-xl;          
        @include h2();
    }

    &__subtitle {
        margin-top: 4.2rem;
        font-size: 1.5rem;
        color: $color-dark-s;
        font-family: Arial;
        line-height: 160%;
    }

    &__button {
        margin-top: 4rem;
        @include button_primary();
                
    }
} 

.about {
    display: flex; 
    
    &__wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 8rem 17.5rem 10rem 17.5rem;
    }
    
    &__image-wrapper {
        display: flex; 
    }
    &__image {
        width: 100%;
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 43rem;
    }

    &__title { 
        span {
            display: block;            
        }         
          color: $color-dark-l;
          @include h3();
    }
    
    &__description {
        margin-top: 2.5rem;

        p {
            & + p {
                margin-top: 2.5rem;
            }
                    
            color: $color-dark-xl;
            @include paragraf-l();
        }
    }
}

.pets {
    padding-top: 8rem;
    padding-bottom: 10rem;
    background-color: $color-light-l;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }    

    &__title {
        max-width: 40rem;
        text-align: center;

        span {
            display: block;
        }  
        color: $color-dark-l;
        @include h3();
    }

    &__slider {    
        padding-top: 1.4rem;
        width:100%;  
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pets-cards {
            display: flex;
            padding: 7.5rem 0.5em;
            width: 85%;
            justify-content: space-between;
            
        }

        .pets-card {
          display: flex;
          flex-direction: column;
          border-radius: 0.9rem;
          margin: 0 4.5rem;
          transition: all 1s ease 0s;

          &:hover {
              box-shadow: $card_hover; 
          }
          
            &__image {
                width: 100%; 
            }

            &__content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-bottom: 1.6rem;
            }

            &__title {
                margin: 3rem 0;
                text-align: center;
                @include h4();
                
            }

            &__button {
                @include button_secondary()
            }
        }    
        
        .slider-button {
            @include slider_button;
            border: 1px solid $color-dark-3xl;
            }
        .slider-button_reverted {
            transform: rotate(180deg);
            @include slider_button;
            border: 1px solid $color-dark-3xl;
        }  
    }

    &__button {
        @include button_primary()
    }
}

.help {
    padding-top: 8rem;
    padding-bottom: 10rem;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        color: $color-dark-l;
        text-align: center;
        @include h3();

        span {
            display: block;
        }
    }

    &__content {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 12rem;
        row-gap: 5.5rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 113px;

        &-icon {
            width: 60px;
            height: 60px;
        }

        &-title {
            color: $color-dark-l;
            text-align: center;
            @include h4();
        }
    }
}




.donation {
    padding-top: 8.2rem;
    padding-bottom: 98px;
    background-color: $color-light-l;

    &__wrapper {
        display: flex;
        justify-content: center;
    }


    &__image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        margin-left: 3rem;
        max-width: 38rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__title {
        color: $color-dark-l;
        @include h3();

        span {
            display: block;
        }
    }

    &__subtitle {
        margin-top: 2rem;
        color: $color-dark-l;
        @include h5();
    }

    &__payment {
        @include button_primary();
        margin-top: 2rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        display: flex;

        &-text {
            padding-left: 1.5rem;
            text-decoration: none;
            color: $color-dark-l;
            @include h4();
        }
    }

    &__description {
        margin-top: 2rem;
        color: $color-dark-m;
        @include paragraf-s();
    }
}

.footer {
    padding-top: 4rem;
    background: $footer-gradient-background;

    .wrapper {
        padding: 0px 0px;
    }

    &__content {
        width: 100%;
        max-width: 740px;
        margin-top: 1.6rem;
        flex: 1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 302px;

        &-title {
            color: $color-light-xl;
            @include h3();

            span {
                display: block;
            }
        }


        &-item {
            display: flex;
            align-items: center; 
    
            &-link {
                color: $color-primary-color;
                @include h4(); 
                display: flex;

                span {
                    padding-left: 10px;
                }
            }
        }
    }

    &__locations  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &-phone,
        &-title {
            color: $color-light-xl;
            @include h3();

            span {
                display: block;
            }
        }
    }
}


@media screen and (max-width: 1280px) {
    .wrapper {
        padding: 0 4rem;
    }
}  

@media screen and (max-width: 1100px) {
    .hero__content {
        flex-direction: column;
    }
}  

.hero__content{
        align-items: center; 
}

@media screen and (max-width: 1280px) {

    .header {

        .wrapper {
            width: 100%;
            max-width: 708px;
            padding: 0px 0px;
        }
    }

    .hero__wrapper {
        flex-direction: column;
        max-width: 569px;
    }

    .about__wrapper {
        flex-direction: column-reverse;
        max-width: 437px;
        margin-top: 80px;
        margin-bottom: 100px;

        .about__image-wrapper {
            margin-top: 80px;
            max-width: 300px;
        }

    }

    .pets__wrapper,
    .help__wrapper {
        width: 100%;
        max-width: 708px;
    }

    .pets-card:last-child {
        display: none;
    }

    .help__content {

        display: grid;
        grid-template-columns: 30% auto 30%;
        row-gap: 55px;
    }

    .donation__wrapper {
        max-width: 505px;
        flex-direction: column-reverse;
        align-items: center;

        .donation__content{
            max-width: 380px;
            margin-left: 0px;
            margin-bottom: 60px;
        }
    }

    .footer {

        .wrapper {
            flex-direction: column;
            align-items: center;

            .footer__content {
                padding-right: 0px;
                width: 100%;
                max-width: 708px;

                .footer__contacts{
                    width: 100%;
                    max-width: 278px;
                }
            }
        }
    }
} 

@media screen and (max-width: 768px) {

    .header {
        top: 3rem;

        .wrapper {
            max-width: 300px;
            justify-content: flex-start;
            align-items: center;

            .menu__icon {
                margin-left: 43px;
            }
        }
    }

    .nav {
        display: none;

    }

    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: $color-light-l;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__body {
        position: fixed;
        top: 75px;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(52, 52, 52, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }

    .menu__body._active{
        left: 0;
    }

    .menu__body ul {
        display: flex;
        flex-direction: column;
    }

    .menu__body ul > li {
        margin: 0 0 30px 0;
    }

    .menu__body ul > li > a {
        color: #fff;
    }

    .menu__body > li:last-child {
        margin: 0 0 0px 0;
    }

    .menu__body {
        font-size: 24px;
    }

    .menu__icon._active span {
        transform: scale(0) translate(0, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0, -50%);
    }

    .menu__icon._active::after {
        top: 50%;
        transform: rotate(45deg) translate(0, 50%);
    }

    .cont-menu {
        display: flex;
        justify-content: end;
    }

    .hero {
        padding-top: 15rem;
    
        .hero__wrapper {
            max-width: 300px;
            padding: 0 0;

            .hero__image-wrapper {
                margin-left: 40px;
            }    

            .content-section{
                align-items: center;
                text-align: center;
                padding-bottom: 110px;

                &__title {
                    font-size: 25px;
                    letter-spacing: 1px;
                }
            }
        }
    }  
    
    .about__wrapper {
        max-width: 270px;
        padding: 0 0;
        margin-top: 42px;
        margin-bottom: 40px;

        .about__content {
            text-align: center;

            .about__title {
                font-size: 25px;
                letter-spacing: 1px;
            }

            .about__description {
                margin-top: 0;

                p {
                    margin-top: 22px;
                    text-align: justify;
                }
            }
        }

        .about__image-wrapper {
            margin-top: 33px;
        }
    }

    .pets {
        padding-top: 38px;
        padding-bottom: 40px;

        &__wrapper {
            max-width: 300px;
            padding: 0 0;

            .pets__title {
                font-size: 25px;
                letter-spacing: 1px;
            }

            .pets__slider {
                margin-bottom: 40px;
                flex-wrap: wrap;
                column-gap: 80px;
                justify-content: center;

                .pets-cards {
                    padding: 59px 0 32px 0;
                    justify-content: center;
                    order: -1;
                }
            }

            .pets-card:nth-child(1) {
                margin: 0 0;
            }

            .pets-card:nth-child(2) {
                display: none;
            }
        }
    }

    .help {
        padding-top: 46px;
        padding-bottom: 15px;

        .help__wrapper {
            max-width: 300px;

            .help__title {
                font-size: 25px;
                letter-spacing: 1px;
            }

            .help__content {
                margin-top: 41px;
                row-gap: 4px;
                column-gap: 28px;
                grid-template-columns: 60% 60%;

                .help__item {

                    .help__item-icon{
                        width: 50px;
                        height: 50px;
                    }

                    .help__item-title {
                        font-size: 15px;
                        padding-bottom: 25px
                    }
                }
            }
        }
    }

    .donation {
        padding-top: 42px;
        padding-bottom: 40px;

        .donation__wrapper {
            
            max-width: 300px;
            padding: 0 0;

            .donation__image-wrapper {
                    
                img {
                    width: 260px;
                }
                
            }

            .donation__content {
                text-align: center;
                margin-bottom: 45px;

                .donation__title {
                    font-size: 25px;
                    letter-spacing: 1px;
                    text-align: center;
                    width: 100%;
                }

                .donation__subtitle {
                    padding-top: 4px;
                    width: 100%;
                    font-size: 15px;
                    letter-spacing: 0;
                }

                .donation__payment {
                    margin-top: 23px;
                    margin-left: 10px;

                    .donation__payment-text {
                        font-size: 15px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    .footer {
        padding-top: 10px;

        .wrapper {
            width: 300px;

            .footer__content {
                flex-direction: column;
                margin-bottom: 0;

                .footer__contacts {
                    align-items: center;

                    .footer__contacts-title {
                        margin-bottom: 40px;
                        font-size: 25px;
                        letter-spacing: 1px;
                        text-align: center;
                        letter-spacing: 3px;
                    }

                    .footer__contacts-item{
                        margin-bottom: 40px;

                        &-link {

                            span {
                                font-size: 22px;
                                letter-spacing: 0;
                            }
                        }
                        
                    }
                }
            }

            .footer__image-wrapper{

                .footer__image {
                    height: 269px;
                }
            }
        }
    }
}

