:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  justify-content: space-between;
  flex: 1;
}

.header {
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 6rem;
}

.nav {
  display: flex;
  width: 44.3rem;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-list__linK {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  text-decoration: none;
  position: relative;
  transition: all 1s ease 0s;
}

.nav-list__linK:hover {
  color: #F1CDB3;
}

.nav-list__linK_active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #F1CDB3;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__link {
  text-decoration: none;
}

.logo__title {
  color: #F1CDB3;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.192rem;
  transition: all 1s ease 0s;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  color: #FFFFFF;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13em;
  transition: all 1s ease 0s;
}

.logo__link:hover .logo__title {
  color: #FFFFFF;
}

.logo__link:hover .logo__subtitle {
  color: #F1CDB3;
}

.menu__icon {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  padding-top: 18rem;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__image-wrapper {
  display: flex;
}

.hero__image {
  width: 100%;
  max-width: 69.8rem;
  max-height: 72.8rem;
}

.content-section {
  padding-bottom: 8rem;
  max-width: 46.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content-section__title {
  max-width: 31rem;
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 4.4rem;
  font-weight: 400;
  line-height: 130%;
}

.content-section__subtitle {
  margin-top: 4.2rem;
  font-size: 1.5rem;
  color: #CDCDCD;
  font-family: Arial;
  line-height: 160%;
}

.content-section__button {
  margin-top: 4rem;
  background-color: #F1CDB3;
  transition: all 1s ease 0s;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.content-section__button:hover {
  background-color: #fddcc4;
}

.about {
  display: flex;
}

.about__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 8rem 17.5rem 10rem 17.5rem;
}

.about__image-wrapper {
  display: flex;
}

.about__image {
  width: 100%;
}

.about__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 43rem;
}

.about__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.about__title span {
  display: block;
}

.about__description {
  margin-top: 2.5rem;
}

.about__description p {
  color: #4C4C4C;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
}

.about__description p + p {
  margin-top: 2.5rem;
}

.pets {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: #F6F6F6;
}

.pets__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets__title {
  max-width: 40rem;
  text-align: center;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.pets__title span {
  display: block;
}

.pets__slider {
  padding-top: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pets__slider .pets-cards {
  display: flex;
  padding: 7.5rem 0.5em;
  width: 85%;
  justify-content: space-between;
}

.pets__slider .pets-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  margin: 0 4.5rem;
  transition: all 1s ease 0s;
}

.pets__slider .pets-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets__slider .pets-card__image {
  width: 100%;
}

.pets__slider .pets-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.6rem;
}

.pets__slider .pets-card__title {
  margin: 3rem 0;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.pets__slider .pets-card__button {
  background-color: transparent;
  border: #F1CDB3 solid 2px;
  box-shadow: inset 0 0 0 2px #F1CDB3;
  transition: all 1s ease 0s;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.pets__slider .pets-card__button:hover {
  box-shadow: none;
  background-color: #fddcc4;
}

.pets__slider .slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  box-shadow: inset 0 0 0 0.3rem solid #F1CDB3;
  border-radius: 100%;
  padding: 1.9rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition-duration: 0.5s;
  transition: all 1s ease 0s;
  border: 1px solid #292929;
}

.pets__slider .slider-button:hover {
  box-shadow: none;
  background-color: #F1CDB3;
}

.pets__slider .slider-button_reverted {
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  box-shadow: inset 0 0 0 0.3rem solid #F1CDB3;
  border-radius: 100%;
  padding: 1.9rem;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition-duration: 0.5s;
  transition: all 1s ease 0s;
  border: 1px solid #292929;
}

.pets__slider .slider-button_reverted:hover {
  box-shadow: none;
  background-color: #F1CDB3;
}

.pets__button {
  background-color: #F1CDB3;
  transition: all 1s ease 0s;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.pets__button:hover {
  background-color: #fddcc4;
}

.help {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.help__wrapper {
  display: flex;
  flex-direction: column;
}

.help__title {
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.help__title span {
  display: block;
}

.help__content {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 12rem;
  row-gap: 5.5rem;
}

.help__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
}

.help__item-icon {
  width: 60px;
  height: 60px;
}

.help__item-title {
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.donation {
  padding-top: 8.2rem;
  padding-bottom: 98px;
  background-color: #F6F6F6;
}

.donation__wrapper {
  display: flex;
  justify-content: center;
}

.donation__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation__content {
  margin-left: 3rem;
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.donation__title {
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.donation__title span {
  display: block;
}

.donation__subtitle {
  margin-top: 2rem;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
}

.donation__payment {
  background-color: #F1CDB3;
  transition: all 1s ease 0s;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  display: flex;
}

.donation__payment:hover {
  background-color: #fddcc4;
}

.donation__payment-text {
  padding-left: 1.5rem;
  text-decoration: none;
  color: #545454;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.donation__description {
  margin-top: 2rem;
  color: #B2B2B2;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 150%;
}

.footer {
  padding-top: 4rem;
  background: url(/assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer .wrapper {
  padding: 0px 0px;
}

.footer__content {
  width: 100%;
  max-width: 740px;
  margin-top: 1.6rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 302px;
}

.footer__contacts-title {
  color: #FFFFFF;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.footer__contacts-title span {
  display: block;
}

.footer__contacts-item {
  display: flex;
  align-items: center;
}

.footer__contacts-item-link {
  color: #F1CDB3;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  display: flex;
}

.footer__contacts-item-link span {
  padding-left: 10px;
}

.footer__locations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__locations-phone, .footer__locations-title {
  color: #FFFFFF;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.footer__locations-phone span, .footer__locations-title span {
  display: block;
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero__content {
    flex-direction: column;
  }
}

.hero__content {
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .header .wrapper {
    width: 100%;
    max-width: 708px;
    padding: 0px 0px;
  }
  .hero__wrapper {
    flex-direction: column;
    max-width: 569px;
  }
  .about__wrapper {
    flex-direction: column-reverse;
    max-width: 437px;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .about__wrapper .about__image-wrapper {
    margin-top: 80px;
    max-width: 300px;
  }
  .pets__wrapper,
  .help__wrapper {
    width: 100%;
    max-width: 708px;
  }
  .pets-card:last-child {
    display: none;
  }
  .help__content {
    display: grid;
    grid-template-columns: 30% auto 30%;
    row-gap: 55px;
  }
  .donation__wrapper {
    max-width: 505px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation__wrapper .donation__content {
    max-width: 380px;
    margin-left: 0px;
    margin-bottom: 60px;
  }
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer .wrapper .footer__content {
    padding-right: 0px;
    width: 100%;
    max-width: 708px;
  }
  .footer .wrapper .footer__content .footer__contacts {
    width: 100%;
    max-width: 278px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    top: 3rem;
  }
  .header .wrapper {
    max-width: 300px;
    justify-content: flex-start;
    align-items: center;
  }
  .header .wrapper .menu__icon {
    margin-left: 43px;
  }
  .nav {
    display: none;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #F6F6F6;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__body {
    position: fixed;
    top: 75px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 52, 52, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body ul {
    display: flex;
    flex-direction: column;
  }
  .menu__body ul > li {
    margin: 0 0 30px 0;
  }
  .menu__body ul > li > a {
    color: #fff;
  }
  .menu__body > li:last-child {
    margin: 0 0 0px 0;
  }
  .menu__body {
    font-size: 24px;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .cont-menu {
    display: flex;
    justify-content: end;
  }
  .hero {
    padding-top: 15rem;
  }
  .hero .hero__wrapper {
    max-width: 300px;
    padding: 0 0;
  }
  .hero .hero__wrapper .hero__image-wrapper {
    margin-left: 40px;
  }
  .hero .hero__wrapper .content-section {
    align-items: center;
    text-align: center;
    padding-bottom: 110px;
  }
  .hero .hero__wrapper .content-section__title {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .about__wrapper {
    max-width: 270px;
    padding: 0 0;
    margin-top: 42px;
    margin-bottom: 40px;
  }
  .about__wrapper .about__content {
    text-align: center;
  }
  .about__wrapper .about__content .about__title {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .about__wrapper .about__content .about__description {
    margin-top: 0;
  }
  .about__wrapper .about__content .about__description p {
    margin-top: 22px;
    text-align: justify;
  }
  .about__wrapper .about__image-wrapper {
    margin-top: 33px;
  }
  .pets {
    padding-top: 38px;
    padding-bottom: 40px;
  }
  .pets__wrapper {
    max-width: 300px;
    padding: 0 0;
  }
  .pets__wrapper .pets__title {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .pets__wrapper .pets__slider {
    margin-bottom: 40px;
    flex-wrap: wrap;
    column-gap: 80px;
    justify-content: center;
  }
  .pets__wrapper .pets__slider .pets-cards {
    padding: 59px 0 32px 0;
    justify-content: center;
    order: -1;
  }
  .pets__wrapper .pets-card:nth-child(1) {
    margin: 0 0;
  }
  .pets__wrapper .pets-card:nth-child(2) {
    display: none;
  }
  .help {
    padding-top: 46px;
    padding-bottom: 15px;
  }
  .help .help__wrapper {
    max-width: 300px;
  }
  .help .help__wrapper .help__title {
    font-size: 25px;
    letter-spacing: 1px;
  }
  .help .help__wrapper .help__content {
    margin-top: 41px;
    row-gap: 4px;
    column-gap: 28px;
    grid-template-columns: 60% 60%;
  }
  .help .help__wrapper .help__content .help__item .help__item-icon {
    width: 50px;
    height: 50px;
  }
  .help .help__wrapper .help__content .help__item .help__item-title {
    font-size: 15px;
    padding-bottom: 25px;
  }
  .donation {
    padding-top: 42px;
    padding-bottom: 40px;
  }
  .donation .donation__wrapper {
    max-width: 300px;
    padding: 0 0;
  }
  .donation .donation__wrapper .donation__image-wrapper img {
    width: 260px;
  }
  .donation .donation__wrapper .donation__content {
    text-align: center;
    margin-bottom: 45px;
  }
  .donation .donation__wrapper .donation__content .donation__title {
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
  }
  .donation .donation__wrapper .donation__content .donation__subtitle {
    padding-top: 4px;
    width: 100%;
    font-size: 15px;
    letter-spacing: 0;
  }
  .donation .donation__wrapper .donation__content .donation__payment {
    margin-top: 23px;
    margin-left: 10px;
  }
  .donation .donation__wrapper .donation__content .donation__payment .donation__payment-text {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .footer {
    padding-top: 10px;
  }
  .footer .wrapper {
    width: 300px;
  }
  .footer .wrapper .footer__content {
    flex-direction: column;
    margin-bottom: 0;
  }
  .footer .wrapper .footer__content .footer__contacts {
    align-items: center;
  }
  .footer .wrapper .footer__content .footer__contacts .footer__contacts-title {
    margin-bottom: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    letter-spacing: 3px;
  }
  .footer .wrapper .footer__content .footer__contacts .footer__contacts-item {
    margin-bottom: 40px;
  }
  .footer .wrapper .footer__content .footer__contacts .footer__contacts-item-link span {
    font-size: 22px;
    letter-spacing: 0;
  }
  .footer .wrapper .footer__image-wrapper .footer__image {
    height: 269px;
  }
}
/*# sourceMappingURL=main.css.map */