.pets-logo__title_a {
  text-decoration: none;
  color: #292929;
}

.pets-header {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  position: sticky;
  min-height: 12rem;
  background-color: #FFFFFF;
  z-index: 2;
}

.nav {
  display: flex;
  width: 44.3rem;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-list__item {
  display: flex;
  align-items: center;
}

.nav-list__linK {
  color: #545454;
  font-family: Arial;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

.pets-logo {
  display: flex;
  flex-direction: column;
}

.pets-logo__title {
  color: #545454;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.192rem;
  transition: all 1s ease 0s;
}

.pets-logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  color: #292929;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 110%;
  letter-spacing: 0.13em;
  transition: all 1s ease 0s;
}

.logo__link:hover .pets-logo__title {
  color: #F1CDB3;
}

.logo__link:hover .pets-logo__subtitle {
  color: #F1CDB3;
}

.main__wrapper {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 10rem;
  flex-direction: column;
}

.main__pets-title {
  color: #545454;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.main__pets-title span {
  display: block;
}

.main-pets-cards {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  row-gap: 4.4rem;
}

.main-pagination {
  display: flex;
  margin-top: 7.3rem;
  justify-content: center;
}

.main-pagination__button {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  box-shadow: inset 0 0 0 0.3rem solid #F1CDB3;
  border-radius: 50%;
  padding: 1.9rem;
  cursor: pointer;
  background: none;
  outline: none;
  transition-duration: 0.5s;
  transition: all 1s ease 0s;
  border: 2px solid #CDCDCD;
}

.main-pagination__button:hover {
  box-shadow: none;
  background-color: #F1CDB3;
}

.main-pagination__button_active {
  box-shadow: none;
  background-color: #F1CDB3;
  transition: all 1s ease 0s;
}

.main-pagination__button_active:hover {
  box-shadow: none;
  background-color: #F1CDB3;
  cursor: auto;
}

.main-pagination__button:disabled {
  border: 2px solid #CDCDCD;
  transition: all 1s ease 0s;
}

.main-pagination__button:disabled:hover {
  box-shadow: inset 0 0 0 0.3rem solid #CDCDCD;
  background-color: transparent;
}

.pets-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;
  transition: all 1s ease 0s;
}

.pets-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pets-card__image {
  width: 100%;
}

.pets-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.6rem;
}

.pets-card__title {
  margin: 3rem 0;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
}

.pets-card__button {
  background-color: transparent;
  border: #F1CDB3 solid 2px;
  box-shadow: inset 0 0 0 2px #F1CDB3;
  transition: all 1s ease 0s;
  padding: 1.5rem 4.5rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  line-height: 130%;
  letter-spacing: 0.108rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.pets-card__button:hover {
  box-shadow: none;
  background-color: #fddcc4;
}
/*# sourceMappingURL=pets.css.map */